.prof-img{

    height: 170px;
    width: 165px;
    border: 5px solid white;
    border-radius: 200px;
}

.stopTransition{

    -webkit-transition: none !important;
    -moz-transition: none !important;
    w3-animate-zoom: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* Image Overlay */



